.container {
    width: 50%;
    padding-right: 0 !important;
    padding-left: 0 !important;
   
    margin-right: auto;
    margin-left: auto;
}
.card-text{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.list-group-item:nth-child(2n+1){
    background-color: rgb(214, 216, 219);
    color: black;
}
.list-group-item:hover{
    background-color: chartreuse;
}
.hoverEffect:hover{
    background-color:rgb(94, 97, 101);
}

.column-list-text{
    background-color: blue;
}